<!-- 


  <img src="assets/img/mountains.jpg" alt="forest with river landscape" width="1262px" length="200px"><br><br>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/vw_full_data">RedBus</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/allBusroutes">ROUTES</a></li>
      <li><a routerLink="/allBuses">BUSES</a></li>
      <li><a routerLink="/allBusschedules">SCHEDULES</a></li>
      <li><a routerLink="/allBusservices">SERVICES</a></li>
      <li><a routerLink="/allBustypes">BUSTYPES</a></li>
      <li><a routerLink="/getfullbookinghistory">BOOKINGHISTORY</a></li> 
       <li><a routerLink="/requserpage">USERPAGE</a></li> 

      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/reqforsingup"><span class="glyphicon glyphicon-user"></span> Sign Up/
        <span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </ul>
  </div>
</nav>

  <br> -->
<div class="v-header container">
  <div class="fullscreen-video-wrap">
     <video src="assets/Videos/buses.mp4"  autoplay="true" loop="true" width="1262px"></video>   
    </div>
  <div class="fromoutline">
  <div class="header-overlay">
  <div class="header-content">
        <h1>Login</h1>
    <p>&nbsp;&nbsp;USERID    :         &nbsp;&nbsp; <input  #id [(ngModel)]="userid" style="color: black;"><br><br>
      PASSWORD:<input #id1 [(ngModel)]="password" style="color: black;"> <br>
      <br><button (click)="logincheck()" style="color: gray;">LOGIN</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Not registerd? <a routerLink="reqforsignup" style="background:rgba(10, 9, 9, 0.281); color:blanchedalmond">signup.</a>
    </p>
    <a href="https://www.google.com/intl/en-GB/gmail/about/#"><img src="assets/img/gmail.png" style="width:60px"></a>&nbsp;
   <a href="https://github.com/"><img src="assets/img/github.png"></a> &nbsp;
   <a href="https://twitter.com/login"><img src="assets/img/twitter.png"></a> &nbsp;
   <a href="https://www.facebook.com/"><img src="assets/img/facebbok.png"></a> &nbsp;
  </div>
  </div>
</div> 
</div>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="column">
  <!-- <img src="assets/img/alone.jpg" alt="Traveller travelling alone" style="width: 450px; margin-left: -50px;"> -->
  <div class="container1">
    <img src="assets/img/alone.jpg" alt="Traveller travelling alone" style="width: 500px; margin-left: -50px;">
    <div class="content">
      <h1>Travell Alone</h1>
      <p>Meet new people all around world in your travell discovering and exploring the soul.</p>
    </div>
  </div>
</div>
      <div class="column">
        <div class="container2">
          <img src="assets/img/busonegoal.jpg" alt="Traveller travelling alone" style="width: 500px;height: 320px; margin-left: 250px;">
          <div class="content2">
            <h1>Unique</h1>
            <p>Travell the most unique and Antique Locations with core culture's of locals.</p>
          </div>
        </div>
    </div>
  </div>
</div>

<br>
<hr>

<div class="row">
  <div class="column">
    <div class="container" style="margin-left: 20px;">
<h2 class="h2">Covid-19!</h2>
<p class="p1"> “Be Awaire maintaine social distance and sanitize at regular internvels.”</p>
</div>
</div>
  <div class="column">
    <img src="assets/img/covid.png"  alt="3d picture of covid" style="width: 50%; margin-left: 590px;">   
  </div>
 </div>
<br>
<hr>
<div class="row">
  <div class="column">
    <video src="assets/Videos/travelvideo.mp4"  alt="travelling in lane" autoplay="false" loop="true"  style="margin-top: 50px;margin-left: 60px;width : 580px;height: 342px;border: 9px solid rgba(0, 0, 0, 0.493);border-radius: 3%;"></video>   
  </div>
  <div class="column">
    <div class="container" style="margin-left: 70px;">
<h2 class="h2">Travelling!</h2>
<p class="p1"> “A mind that is stretched by a new experience can never go back to its old dimensions.”</p>
</div>
  </div>
</div>

<br>
<hr>
<div class="row">
  <div class="column container" style="opacity:0.55;text-align: center;">
<h1 style="margin-left: 150px;font-size: 80px;color: rgba(230, 230, 230, 0.486);">Be a Peripatetic!.</h1>
  </div>
  <div class="column">
<img src="assets/img/WideNight.jpg" style="border:2px black;width: 1522px;margin-left: -510px;">
</div>
</div>
<br>
<br>
<section style="margin-bottom: 25px;margin-top: 50px;">
  <div class="container">
    <h1 class="background2">Our Award's represent our Excellence.</h1>
    <br><br><br>
    <div class="row">
      <div class="column">
        <img src="assets/img/cup.jpg" style="width:250px;height: 200px;margin-left: -40px;">
      </div>
      <div class="column">
        <img src="assets/img/gold-award.png" style="width: 230px;height: 250px;">
      </div>
      <div class="column">
        <img src="assets/img/wingaward.png" style="width: 250px;margin-left: 60px;">
      </div>
    </div>
  </div>
</section>

<br>
<br>

<section style="margin-bottom: 50px;margin-top: 50px;">
  <div class="container">
    <h1 class="background">Our social media presence.</h1>
    <br><br><br>
    <div class="row">
      <div class="column">
        <img src="assets/img/gmail.png" style="width:100px">
        <p>Gobus@gmail.com</p>
      </div>
      <div class="column">
        <img src="assets/img/twitter.png" style="width: 100px;">
        <p>@Gobus_twitter</p>
      </div>
      <div class="column">
        <img src="assets/img/facebbok.png" style="width: 100px;">
       <p> @Gobus_info</p>
      </div>
    </div>
  </div>
</section>

<br>
<br>
<br>

<section class="section section-a">
  <div class="container">
    <h1>"About us"</h1>
<p>India's No 1 online Bus services provider with over 1 million Customer all over India and more user's pilling up along with a Litning Fast Customer serivices and Hasell free Ticket Booking options with 
  more than thousand Travell agencie's we are running for best and widest spread bus service provider's in INDIA</p><br>
  </div>
</section> 
  <router-outlet></router-outlet>




